@using MasterProject.Models;
@using MasterProject.ViewModels;
@{
    ViewBag.Title = "EventRequests";
    LoginUser user = null;
    if (Session["User"] != null)
    {
        user = Session["User"] as LoginUser;
        if (user.IsWorker)
        {
            Layout = "~/Views/Share/ViewWorker.cshtml";
        }
        else
        {
            Layout = "~/Views/Share/View.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Share/View.cshtml";
    }
}
@model EventRequestViewModel
<link href="~/Content/Styles/Style-EventsRequest.css" rel="stylesheet" />
<script src="~/Content/Scripts/Events-Script.js"></script>
<div class="wrapper">
    <div class="personal-input">
        <form>
            @if (Session["User"] == null)
            {
                <label for="name">שם</label>
                <span class="span" id="errorName">צריך לכתוב רק אותיות</span>
                <span class="span" id="emptyName">צריך למלא</span>
                <input type="text" id="name" placeholder="השם שלך..." value="">

                <label for="tel">טלפון</label>
                <span class="span" id="errorTel">צריך לכתוב לפי התבנית</span>
                <span class="span" id="emptyTel">צריך למלא</span>
                <input type="tel" id="tel" placeholder="הטלפון שלך..." value="">
                <small>תבנית: 05X-XXX-XXXX, לא צריך את ה"-"</small><br><br>

                <label for="event">סוג האירוע</label>
                <span class="span" id="emptyEvent">צריך לבחור</span>
                <select id="event">
                    <option value="" selected disabled hidden>אירועים</option>
                    @foreach (EventType eventType in Model.EventTypes)
                    {
                        <option value="@eventType.id">@eventType.EventTypeName</option>
                    }
                </select>

                <label for="order">הערות</label>
                <textarea id="order" placeholder="אם יש משהו שאנחנו צריכים לדעת..."></textarea>

                <small class="noneUser">בכדי לקבוע אירוע צריך</small>
                <a class="noneUserBtn" href="~/Wanted/Wanted">להירשם</a>
                <small class="noneUser">ואו</small>
                <small class="noneUserBtn" onclick="Focus()">להתחבר</small>
            }
            else
            {
                <label for="name">שם</label>
                <span class="span" id="errorName">צריך לכתוב רק אותיות</span>
                <span class="span" id="emptyName">צריך למלא</span>
                <input type="text" id="name" placeholder="השם שלך..." value="@user.FirstName @user.LastName">

                <label for="tel">טלפון</label>
                <span class="span" id="errorTel">צריך לכתוב לפי התבנית</span>
                <span class="span" id="emptyTel">צריך למלא</span>
                <input type="tel" id="tel" placeholder="הטלפון שלך..." value="@user.PhoneNumber">
                <small>תבנית: 05X-XXX-XXXX, לא צריך את ה"-"</small><br><br>

                <label for="event">סוג האירוע</label>
                <span class="span" id="emptyEvent">צריך לבחור</span>
                <select id="event">
                    <option value="" selected disabled hidden>אירועים</option>
                    @foreach(EventType eventType in Model.EventTypes)
                    {
                        <option value="@eventType.id">@eventType.EventTypeName</option>
                    }
                </select>

                <label for="order">הערות</label>
                <textarea id="order" placeholder="אם יש משהו שאנחנו צריכים לדעת..."></textarea>

                <input type="button" class="eventBtn" onclick="checkRequest()" value="שליחה">
            }

        </form>
    </div>
</div>