@using MasterProject.Models;
@using MasterProject.ViewModels;
@using System;
@{
    ViewBag.Title = "EventRequests";
    LoginUser user = null;
    int month = int.Parse(DateTime.Now.Month.ToString());
    int day = int.Parse(DateTime.Now.Day.ToString());
    int currentLastDay = 0;
    switch (month)
    {
        case 2:
            currentLastDay = 28;
            break;
        case 4:
        case 6:
        case 9:
        case 11:
            currentLastDay = 30;
            break;
        case 1:
        case 3:
        case 5:
        case 7:
        case 8:
        case 10:
        case 12:
            currentLastDay = 31;
            break;
    }
    if (Session["User"] != null)
    {
        user = Session["User"] as LoginUser;
        if (user.IsWorker)
        {
            Layout = "~/Views/Share/ViewWorker.cshtml";
        }
        else
        {
            Layout = "~/Views/Share/View.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Share/View.cshtml";
    }
    int orderCounter = 0;
}
@model EventOrderViewModel
<link href="~/Content/Styles/Style-EventsRequest.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="~/Content/Scripts/Events-Script.js"></script>
<div class="wrapper">
    <div style="display:inline-block">
        @foreach (Order order in Model.Orders)
        {
            <div class="personal-input">
                <form method="post" id="EventForm_@orderCounter">

                    <label for="name">שם</label>
                    <span class="span" id="errorName_@orderCounter">צריך לכתוב רק אותיות</span>
                    <span class="span" id="emptyName_@orderCounter">צריך למלא</span>
                    <input type="text" id="name_@orderCounter" placeholder="השם שלך..." value="@user.FirstName @user.LastName">

                    <label for="phone">טלפון</label>
                    <span class="span" id="errorTel_@orderCounter">צריך לכתוב לפי התבנית</span>
                    <span class="span" id="emptyTel_@orderCounter">צריך למלא</span>
                    <input type="text" id="phone_@orderCounter" placeholder="הטלפון שלך..." value="@user.PhoneNumber">
                    <small>תבנית: 05X-XXX-XXXX, לא צריך את ה"-"</small><br><br>

                    <label for="event">סוג האירוע</label>
                    <span class="span" id="emptyEvent_@orderCounter">צריך לבחור</span>
                    <select id="event_@orderCounter" name="EventTypeID">
                        @foreach (EventType eventType in Model.EventTypes)
                        {
                            if (Model.Events[orderCounter].EventType.id == eventType.id)
                            {
                                <option value="@eventType.id" selected>@eventType.EventTypeName</option>
                            }
                            else
                            {
                                <option value="@eventType.id">@eventType.EventTypeName</option>
                            }
                        }
                    </select><br><br>

                    <label for="guests">מוזמנים</label>
                    <span class="span" id="errorGuests_@orderCounter">צריך לכתוב רק ספרות</span>
                    <span class="span" id="emptyGuests_@orderCounter">צריך למלא</span>
                    <input type="text" id="Guests_@orderCounter" placeholder="מספר המוזמנים..." value="@Model.Events[orderCounter].Invitations" name="Invitations"><br><br>

                    <label for="calendar">התאריך שנבחר:@order.OrderDate</label>
                    <span class="span" id="emptyDate_@orderCounter">צריך לבחור תאריך מלא</span>
                    <div class="calendar">

                        <div class="year">
                            <label for="year">שנה:</label>
                            <select class="date-year" id="year_@orderCounter" onchange="SelectYear2(@orderCounter)" name="year">
                                <option selected disabled hidden>שנה</option>
                                <option id="year1_@orderCounter"></option>
                                <option id="year2_@orderCounter"></option>
                                <option id="year3_@orderCounter"></option>
                            </select>
                            <script>
                                date = new Date();
                                year = date.getFullYear();
                                document.getElementById("year1_" + @orderCounter).innerHTML = year;
                                document.getElementById("year2_" + @orderCounter).innerHTML = year + 1;
                                document.getElementById("year3_" + @orderCounter ).innerHTML = year + 2;
                            </script>
                        </div>


                        <div class="hidden" id="current-month-date_@orderCounter">
                            <label for="month">חודש:</label>
                            <select class="date-month" id="current-month_@orderCounter" onchange="SelectMonth2(@orderCounter)" name="month">
                                <option selected disabled hidden>חודש</option>
                                @for (int i = month; i < 13; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>

                        <div class="hidden" id="other-month-date_@orderCounter">
                            <label for="month">חודש:</label>
                            <select class="date-month" id="other-month_@orderCounter" onchange="SelectMonth2(@orderCounter)" name="month">
                                <option selected disabled hidden>חודש</option>
                                @for (int i = 1; i < 13; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>


                        <div class="hidden" id="current-day-date_@orderCounter">
                            <label for="day">יום:</label>
                            <select class="date-day" id="current-day_@orderCounter" name="day">
                                <option selected disabled hidden value="0">יום</option>
                                @for (int i = day; i < currentLastDay + 1; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>

                        <div class="hidden" id="short-day-date_@orderCounter">
                            <label for="day">יום:</label>
                            <select class="date-day" id="short-day_@orderCounter" name="day">
                                <option selected disabled hidden value="0">יום</option>
                                @for (int i = 1; i < 31; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>

                        <div class="hidden" id="long-day-date_@orderCounter">
                            <label for="day">יום:</label>
                            <select class="date-day" id="long-day_@orderCounter" name="day">
                                <option selected disabled hidden value="0">יום</option>
                                @for (int i = 1; i < 32; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>

                        <div class="hidden" id="feb-day-date_@orderCounter">
                            <label for="day">יום:</label>
                            <select class="date-day" id="feb-day_@orderCounter" name="day">
                                <option selected disabled hidden value="0">יום</option>
                                @for (int i = 1; i < 29; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>

                    </div>
                    <small>נא לבחור את תאריך האירוע גם אם אין צורך לשנות</small><br><br>

                    <label for="order">הערות</label>
                    @if (Model.Events[orderCounter].Notes != "")
                    {
                        <textarea class="notes  " id="order_@orderCounter" placeholder="אם יש משהו שאנחנו צריכים לדעת..." name="notes">@Model.Events[orderCounter].Notes</textarea>
                    }
                    else
                    {
                        <textarea id="order_@orderCounter" placeholder="אם יש משהו שאנחנו צריכים לדעת..." name="notes"></textarea>
                    }

                    <input type="text" style="display:none" value="@order.id" name="orderID">
                    <input type="text" style="display:none" value="@Model.Events[orderCounter].id" name="eventID">

                    <button type="submit" class="eventBtn" formaction="/EventRequests/UpdateMyEvent" onclick="checkRequest2(@orderCounter)">עידכון</button>
                    <button type="submit" class="eventBtn" formaction="/EventRequests/DeleteMyEvent" onclick="deleteRequest(@orderCounter)">מחיקה</button>
                </form>
            </div>
            orderCounter++;
        }
    </div>
</div>